{extend name="../application/admin/view/public/admin_public.html"} {block name="content"}
<div class="mdui-m-a-1 mdui-typo mdui-table-fluid">

    <h1 class="mdui-m-l-3">Forum 拓展管理<small>友情链接Links</small></h1>

    <div class="mdui-btn-group mdui-m-l-3">
        <button type="button" class="mdui-btn" mdui-dialog="{target: '#addLink'}">
            <i class="mdui-icon material-icons">add</i>
        </button>
    </div>
    
    <table class="mdui-table mdui-textfield">
        <thead>
            <tr>
                <th>#</th>
                <th>排序</th>
                <th>链接名称</th>
                <th>URL</th>
                <th>链接图片</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="links" id="vo"}
            <tr id="{$vo.Id}">
                <td>{$vo.Id}</td>
                <td>{$vo.sold}</td>
                <td>{$vo.title}</td>
                <td>
                    <a href="{$vo.url}" target="_blank">{$vo.url}</a>
                </td>
                <td>
                    <a href="{$vo.picurl|default='__IMG__/link.jpg'}" target="_blank">{$vo.picurl|default='__IMG__/link.jpg'}</a>
                </td>
                <td>
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="editorForum('#{$vo.Id}')">编辑</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="del('{$vo.Id}')">删除</button>
                    </div>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>

    <div class="mdui-dialog mdui-typo" id="addLink">
        <div class="mdui-dialog-content">
            <div class="mdui-dialog-title mdui-typo-title">添加Link</div>
            <form id="addForm" class="layui-form layui-form-pane mdui-m-y-1">
                <div class="layui-form-item">
                    <label class="layui-form-label">Link名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入Link名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Link地址</label>
                    <div class="layui-input-block">
                        <input type="url" name="url" required lay-verify="required" placeholder="请输入LinkURL" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片地址</label>
                    <div class="layui-input-block">
                        <input type="url" name="picurl" placeholder="请输入Link图片地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sold" placeholder="请输入排序默认0" autocomplete="off" class="layui-input">
                    </div>
                </div>
                 {:token()}
            </form>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" id="submitadd">添加</button>
        </div>
    </div>

    <div class="mdui-dialog mdui-typo" id="editLink">
        <div class="mdui-dialog-content">
            <div class="mdui-dialog-title mdui-typo-title">修改Link</div>
            <form id="editForm" class="layui-form layui-form-pane mdui-m-y-1">
                <input type="hidden" name="Id">
                <div class="layui-form-item">
                    <label class="layui-form-label">Link名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入Link名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Link地址</label>
                    <div class="layui-input-block">
                        <input type="url" name="url" required lay-verify="required" placeholder="请输入LinkURL" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片地址</label>
                    <div class="layui-input-block">
                        <input type="url" name="picurl" placeholder="请输入Link图片地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sold" placeholder="请输入排序默认0" autocomplete="off" class="layui-input">
                    </div>
                </div>
                 {:token()}
            </form>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" id="submitedit">保存</button>
        </div>
    </div>

</div>

{/block} {block name="js"}
<script>
    var $$ = mdui.JQ,
        data = '',
        inst = new mdui.Dialog('#editLink');//注册对话框

    $$('#forum').addClass('mdui-collapse-item-open');
    $$('#forumSetting').addClass('mdui-list-item-active');

    $$('#submitadd').on('click', function () {
        data = $$('#addForm').serialize();

        $$.ajax({
            method: 'post',
            url: '',
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top',
                        onClosed: function () {
                            location.reload();
                        }
                    })
                } else {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top'
                    })
                }

            }
        })

        return false;
    })
    
    $$('#submitedit').on('click', function () {
        data = $$('#editForm').serialize();

        $$.ajax({
            method: 'post',
            url: '',
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top',
                        onClosed: function () {
                            location.reload();
                        }
                    })
                } else {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top'
                    })
                }

            }
        })

        return false;
    })

    function editorForum(id) {
        var data = $$(id).find('td');

        $$('#editForm [name="Id"]').val(data[0].innerText);
        $$('#editForm [name="title"]').val(data[2].innerText);
        $$('#editForm [name="url"]').val(data[3].innerText);
        $$('#editForm [name="picurl"]').val(data[4].innerText);
        $$('#editForm [name="sold"]').val(data[1].innerText);

        inst.open();
    }

    function del(lid) {
        $$.ajax({
            method: 'post',
            url: '{:url("admin/api/del")}',
            data: {
                type: 'link',
                id: lid,
            },
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top',
                        onClosed: function () {
                            location.reload();
                        }
                    })
                } else {
                    mdui.snackbar(res.message, {
                        timeout: 2000,
                        position: 'top',
                    })
                }
            }
        });
    }
</script> {/block}