{extend name="default/public/main"}
{block name="head"}
{/block}
{block name="menu"}
{include file='default/public/topbar' /}{// 默认的topbar直接使用这一段即可}
{/block}
{block name="main"}

<!--发帖页面不好写，真的不好写！！！-->
<!--改改原来的吧-->
<!--还是再写一个吧，耦合当前的UI风格-->
<form>
    {:token()}
    <input type="hidden" name="sign" value="{$attaSign}">
    <header class="mdui-card">
        <div class="mdui-col-sm-2 mdui-col-xs-12">
            <select lay-ignore class="mdui-select" mdui-select name="fid" required>
                <option selected disabled>板块</option>
                {volist name="forum" id="vo"}
                <option value="{$vo.fid}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
        <div class="mdui-col-sm-10 mdui-col-xs-12 mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">标题</label>
            <input name="subject" class="mdui-textfield-input" type="text" max="60" required />
        </div>
    </header>
    <div class="mainstream-division"></div>
    <main class="mdui-card">
        <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12">
            <label class="mdui-textfield-label">内容</label>
            <textarea class="mdui-textfield-input" name="content" required></textarea>
        </div>
    </main>
    <div class="mainstream-division"></div>
    <button class="mdui-fab mdui-fab-fixed mdui-color-theme-accent mdui-ripple" type="submit"><i class="mdui-icon material-icons">done</i></button>
</form>
{/block}

{block name="js"}
<script src="__JS__post.mtf.js"></script>
<script>
    var post = new mtfPost();
    var editor = post.createTopic();
</script>
{/block}