<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>肥肠抱歉，本页面无法访问</title>

    <meta name="description" content="本站是 MlTree Forum 论坛社区产品的官方交流站点。MlTree Forum是一款由Thinkphp构建、Material Design风格的轻论坛。">
    <meta name="keywords" content="MlTree Forum PHP 开源 轻论坛 轻社区 Material Design Thinkphp">
    <meta name="author" content="MlTree Group">

    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/common.mtf.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_921451_z1ctc9bc3j.css">
    <script src="/static/js/mdui.min.js"></script>

</head>

<body class="mdui-theme-primary-blue mdui-theme-accent-pink mdui-appbar-with-toolbar">
    <div class="central-card mdui-shadow-2">
        <header>
            <h1>本页面无法被访问，正在跳转</h1>
            <h2>页面将于<span class="a_link" id="wait">{$wait}</span>秒后跳转到<a class="a_link" href="{$url}">此页面</a></h2>
        </header>
        <main class="mdui-typo">
            肥肠抱歉，本页面可能由于以下原因导致无法正常访问：
            <ul>
                <li>页面链接失效</li>
                <li>页面内容不和谐</li>
                <li>我（此页改进者）没有被祭天</li>
                <li>侵犯他人著作权</li>
            </ul>
            <footer>——{$site.siteTitle}</footer>
        </main>
    </div>
    <script>
        (function () {
            var wait = document.getElementById('wait'),
                href = "{$url}";
            var interval = setInterval(function () {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>

</body>

</html>