{extend name="default/public/main"}
{block name="menu"}
{include file='default/public/topbar' /}{// 默认的topbar直接使用这一段即可}
{/block}
{block name="main"}
<form method="GET">
    <input type="search" class="search-box mdui-center" placeholder="键入关键词以搜索" value="{$kw}" name="kw"/>
</form>
<div class="mainstream-division"></div>
<main class="mdui-card">
    <ul class="mdui-list">
        {volist name="data" id="item"}
        <li class="mdui-list-item">
            <div class="mdui-list-item-avatar"><img src="{$item.userData.avatar}" /></div>
            <div class="mdui-list-item-content">
                <a class="mdui-list-item-title" href="{:url('topic/index/index',['tid'=>$item.tid])}">{$item.subject}</a>
                <div class="mdui-list-item-text mdui-list-item-one-line"><span class="mdui-text-color-theme-text">{$item.userData.username}</span> · {$item.create_time} · {$item.comment}回复</div>
            </div>
        </li>
        {/volist}
    </ul>
</main>
{/block}

{block name="js"}
<script>
    mdui.mutation();
</script>
{/block}