<div class="mdui-toolbar mdui-color-theme">
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target:'#d-drawer',overlay:true,swipe:true}"><i
            class="mdui-icon material-icons">menu</i></a>
    <a href="/" class="mdui-typo-title mdui-hidden-xs">{$site.siteTitle}</a>
    <!--<a href="" class="mdui-typo-title">{if !empty($site.palte)}{$site.palte|raw}{else}Forum{/if}</a>-->
    <div class="mdui-toolbar-spacer"></div>
    <a href="{:url('forum/index/Search')}" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">search</i></a>
</div>