{extend name="../template@default/forum_public"} {block name="content"}

<!-- 论坛最新内容列表页 -->
<div class="mdui-col-xs-12 mdui-col-sm-8 mdui-shadow-1">

    <!-- 最新内容 -->

    <div class="mdui-tab mdui-tab-centered" mdui-tab>
        <a href="#topic-all" class="mdui-ripple">综合</a>
        <a href="#topic-essence" class="mdui-ripple">精华</a>
    </div>

    <div id="topic-all">
        <ul class="mdui-list" id="topic-cps">

        </ul>
    </div>

    <div id="topic-essence">
        <ul class="mdui-list" id="topic-ess">

        </ul>
    </div>

</div>
{include file="/../template@default/right_tool"} {/block}{block name="js"}
<script src="__JS__/mltree-flow.js"></script>
<script>
    //调用flow加载
    var flow = new mfFlow('index','{$fid}');
    flow.flow();
</script>
{/block}
