
.ml-friend-panel{
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.ml-friend-panel a{
    color: black;
    text-decoration: none;
}
.mdui-panel a{
    text-decoration: none;
}
.mf-panel {
  margin-top: 0px;
  margin-bottom: 20px;
  /* border: 1px solid  #E0E0E0; */
  border-radius: 4px;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .mf-panel {
    border-radius: 6px;
  }
}
/* Panel header */
.mf-panel-hd {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid  #E0E0E0;
}
/* Panel content */
.mf-panel-bd {
  padding: 0.75rem 1rem;
}
.mf-panel-title {
  margin: 0;
  font-size: 100%;
}
/* Panel footer */
.mf-panel-footer {
  padding: 0.75rem 1rem;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.mf-panel a{
  text-decoration: none;
}

.mf-badge {
  display: inline-block;
  min-width: 10px;
  margin: 0.1rem;
  padding: 0.25em 0.625em;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #e1e1e1;
  border-radius: 0;
}
.mf-badge:empty {
  display: none;
}
.mf-badge.mf-square {
  border-radius: 0;
}
.mf-badge.mf-radius {
  border-radius: 6px;
}
.mf-badge.mf-round {
  border-radius: 1000px;
}
a.mf-badge:hover,
a.mf-badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.mf-badge-primary {
  background-color: #5085FF;
}
.mf-badge-secondary {
  background-color: #9dbaff;
}
.mf-badge-success {
  background-color: #29BB9C;
}
.mf-badge-warning {
  background-color: #EFA100;
}
.mf-badge-danger {
  background-color: #E54D42;
}
.attaList{
  margin: 5px 5px;
  padding: 0;
  border: 1px solid #BDBDBD;
}
.attaList header{
  margin-left: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
}
.attaList ul{
  margin-top: 0px;
  padding-left: 1em;
}
.attaList a{
  margin: 0;
}
.mf-comment{
  padding: 30px;
  border-left: 1px solid rgba(0,0,0,.12);
  border-right: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.mf-comment-info{
  max-height:40px;
  display: inline-block;
}
.mf-comment-info .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;
}
.mf-comment-line{
  margin-left: 2%;
}
.mf-comment-time{
  font-size: 13px;
  color:rgba(0,0,0,.54);
  margin-left: 2%
}
.mf-comment-content{
  width: 100%;
  height: 100%;
  padding-top:20px;
  padding-bottom: 2%
}