{extend name="../template@default/forum_public"} {block name="content"}
<!-- 置顶的内容 -->
<div class="mdui-col-xs-12 mdui-m-y-1">
    <div class="mdui-card">
        <div class="mdui-card-media">
            <img src="__IMG__/card.png" alt="" height="100">
            <div class="mdui-card-media-covered mdui-card-media-covered-top">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">置顶</div>
                </div>
            </div>
        </div>

        <div class="mdui-card-content">

            <ul class="mdui-list mdui-list-dense">
                {volist name="tops" id="vo"}
                <li class="mdui-list-item mdui-ripple">
                    <div class="mdui-list-item-avatar">
                        <img src="{$vo.userData.avatar}" alt="{$vo.userData.username}" title="{$vo.userData.username}">
                    </div>
                    <div class="mdui-list-item-content">
                        <a class="mdui-list-item-title" href="{:url('index/topic/index',['tid'=>$vo.tid])}">{$vo.subject}</a>
                        <div class="mdui-list-item-text mdui-list-item-one-line">{$vo.content|raw}</div>
                        <div class="mdui-list-item-text">
                            <a class="mdui-list-item-title" href="{:url('index/user/inde',['uid'=>$vo.uid])}">{$vo.userData.username}</a>
                            <span title="{$vo.create_time}"> {$vo.time_format}</span>
                        </div>
                    </div>
                </li>
                <li class="mdui-divider-inset mdui-m-y-0"></li>
                {/volist}

            </ul>

        </div>
    </div>
</div>

<!-- 论坛最新内容列表页 -->
<div class="mdui-col-xs-12 mdui-col-sm-8">

    <!-- 最新内容 -->

    <div class="mdui-tab" mdui-tab>
        <a href="#topic-all" class="mdui-ripple">综合</a>
        <a href="#topic-essence" class="mdui-ripple">精华</a>
    </div>

    <div id="topic-all">
        <ul class="mdui-list mdui-list-dense" id="topic-cps">

        </ul>
    </div>

    <div id="topic-essence">
        <ul class="mdui-list mdui-list-dense" id="topic-ess">
            
        </ul>
    </div>

</div>
{include file="/../template@default/right_tool"} {/block}{block name="js"}
<script>
    layui.use(['flow'], function () {
        var flow = layui.flow;
        var $ = layui.jquery;
        flow.load({
            elem: '#topic-cps',
            done: function (page, next) {
                var list = [];
                $.get('/index/forum/api/page/' + page, function (res) {
                    layui.each(res.data, function (index, item) {
                        var html = '<li class="mdui-list-item mdui-ripple">';
                        html += '<div class="mdui-list-item-avatar">'
                        html += '<img src="' + item.userData.avatar + '" alt="' + item.userData.username + '" title="' + item.userData.username + '">'
                        html += '</div>'
                        html += '<div class="mdui-list-item-content">'
                        html += '<a class="mdui-list-item-title" href="/index/topic/index/tid/' + item.tid + '">' + item.subject + '</a>'
                        html += '<div class="mdui-list-item-text mdui-list-item-two-line">' + item.content + '</div>'
                        html += '<div class="mdui-list-item-text">'
                        html += '<a class="mdui-list-item-title" href="/index/user/index/uid/' + item.uid + '">' + item.userData.username + '</a>'
                        html += '<span title="' + item.create_time + '">   ' + item.time_format + '</span>'
                        html += '</div>'
                        html += '</div>'
                        html += '</li>'
                        html += '<li class="mdui-divider-inset mdui-m-y-0"></li>'
                        list.push(html);
                    })
                    next(list.join(''), page < res.pages);
                })
            }
        })

        flow.load({
            elem: '#topic-ess',
            done: function (page, next) {
                var list = [];
                $.get('/index/forum/api/page/' + page + '/t/2', function (res) {
                    layui.each(res.data, function (index, item) {
                        var html = '<li class="mdui-list-item mdui-ripple">';
                        html += '<div class="mdui-list-item-avatar">'
                        html += '<img src="' + item.userData.avatar + '" alt="' + item.userData.username + '" title="' + item.userData.username + '">'
                        html += '</div>'
                        html += '<div class="mdui-list-item-content">'
                        html += '<a class="mdui-list-item-title" href="/index/topic/index/tid/' + item.tid + '">' + item.subject + '</a>'
                        html += '<div class="mdui-list-item-text mdui-list-item-two-line">' + item.content + '</div>'
                        html += '<div class="mdui-list-item-text">'
                        html += '<a class="mdui-list-item-title" href="/index/user/index/uid/' + item.uid + '">' + item.userData.username + '</a>'
                        html += '<span title="' + item.create_time + '">   ' + item.time_format + '</span>'
                        html += '</div>'
                        html += '</div>'
                        html += '</li>'
                        html += '<li class="mdui-divider-inset mdui-m-y-0"></li>'
                        list.push(html);
                    })
                    next(list.join(''), page < res.pages);
                })
            }
        })
    })
</script> {/block}