{extend name="default/public/main"}
{block name="menu"}
{include file='default/public/topbar' /}{// 默认的topbar直接使用这一段即可}
{/block}
{block name="main"}
<div>
    <form action="" method="post">
        <input type="file" name="file[]" id="file" multiple>
        <button id="btn" type="button">提交</button>
    </form>
</div>
{/block}

{block name="js"}
<script>
    $('#btn').click(() => {
        var formData = new FormData();
        for (var i = 0; i < $('#file')[0].files.length; i++) {
            formData.append('file[]', $('#file')[0].files[i]);
        }
        
        $.ajax({
            url:'',
        })
    })

</script>
{/block}