<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MlTreeForum管理后台</title>

    <meta name="keywords" content="MlTreeForum PHP 开源 轻论坛 轻社区 Material Design Thinkphp" />
    <meta name="description" content="本站是 MlTree Forum 论坛社区产品的官方交流站点。MlTree Forum是一款由Thinkphp构建、Material Design风格的轻论坛。" />
    <meta name="author" content="北林">

    <link rel="stylesheet" href="__CSS__mdui.min.css">
    <link rel="stylesheet" href="__CSS__common.mtf.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_921451_z1ctc9bc3j.css">
    <script src="__JS__mdui.min.js"></script>
    {block name="head"}{/block}
</head>

<body class="mdui-drawer-body-left mdui-theme-primary-blue mdui-theme-accent-pink mdui-appbar-with-toolbar">
    <header id="app-muen" class="mdui-appbar mdui-appbar-fixed">
        {block name="muen"}{/block}
    </header>
    <div class="mdui-drawer" id="left-menu">
        <ul class="mdui-list mdui-collapse" id="collapse" mdui-collapse="{accordion:true}">

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content">
                    <a href="{:url('admin/index/index')}">后台首页</a>
                </div>
            </li>

            <li class="mdui-collapse-item" id="sys">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
                    <div class="mdui-list-item-content">系统设置</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('set/base')}">
                        <li class="mdui-list-item mdui-ripple" id="base">基础设置</li>
                    </a>
                    <a href="{:url('set/baseReg')}">
                        <li class="mdui-list-item mdui-ripple" id="baseReg">注册访问</li>
                    </a>
                    <a href="{:url('set/baseTheme')}">
                        <li class="mdui-list-item mdui-ripple" id="baseTheme">模板设置</li>
                    </a>
                    <a href="{:url('set/baseMail')}">
                        <li class="mdui-list-item mdui-ripple" id="baseMail">邮件设置</li>
                    </a>
                    <a href="{:url('set/basePlugin')}">
                        <li class="mdui-list-item mdui-ripple" id="basePlugin">插件管理</li>
                    </a>
                </ul>
            </li>

            <li class="mdui-collapse-item" id="forum">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">forum</i>
                    <div class="mdui-list-item-content">论坛管理</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>


                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('set/forum')}">
                        <li class="mdui-list-item mdui-ripple" id="setForum">板块管理</li>
                    </a>
                    <a href="{:url('set/topic')}">
                        <li class="mdui-list-item mdui-ripple" id="setTopic">主题管理</li>
                    </a>
                    <a href="{:url('set/forumSetting')}">
                        <li class="mdui-list-item mdui-ripple" id="forumSetting">论坛设置</li>
                    </a>
                </ul>
            </li>

            <li class="mdui-collapse-item" id="user">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">group</i>
                    <div class="mdui-list-item-content">用户管理</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>


                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="{:url('set/user')}">
                        <li class="mdui-list-item mdui-ripple" id="setUser">用户管理</li>
                    </a>
                    <a href="{:url('set/userGroup')}">
                        <li class="mdui-list-item mdui-ripple" id="setUserGroup">用户组管理</li>
                    </a>
                    <a href="{:url('set/Auth')}">
                        <li class="mdui-list-item mdui-ripple" id="setAuth">权限管理</li>
                    </a>
                    <a href="{:url('set/Expand')}">
                        <li class="mdui-list-item mdui-ripple" id="setExpand">拓展管理</li>
                    </a>
                </ul>
            </li>

        </ul>
    </div>
    <div id="app-content" class="mdui-container">
        {block name="main"}{/block}
    </div>
    {include file='public/footer' /}
    {block name="footer"}{/block}
    <script src="__JS__main.mtf.js"></script>
    {block name="js"}{/block}
</body>

</html>