<div class="mdui-toolbar mdui-color-theme">
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-menu'}">
        <i class="mdui-icon material-icons">menu</i>
    </a>
    <a href="{:url('admin/index/index')}" class="mdui-typo-headline">MlTree Forum</a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" onclick="location.reload()">
        <i class="mdui-icon material-icons">refresh</i>
    </a>

    <a href="javascript:;" class="mdui-btn mdui-btn-icon" id="theme-layout">
        <i class="mdui-icon material-icons">brightness_medium</i>
    </a>

    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#more'}">
        <i class="mdui-icon material-icons">more_vert</i>
    </a>
    <ul class="mdui-menu mdui-menu-cascade" id="more">
        <li class="mdui-menu-item">
            <a href="{:url('forum/index/index')}" class="mdui-ripple">返回前台</a>
        </li>
    </ul>
</div>