<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MlTreeForum 通用邮件样式</title>
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
</head>

<body class="mdui-theme-primaty-indigo mdui-theme-accent-pink mdui-text-color-white-text">
    <div class="mdui-card">
        <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
        <div class="mdui-card-media">
            <img src="../static/th.jpg" height="300px"/>
        </div>

        <!-- 卡片的标题和副标题 -->
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">激活[siteTitle]账户</div>
        </div>

        <!-- 卡片的内容 -->
        <div class="mdui-card-content">
            <p>尊敬的 [userName] 您好：</p>
            <p>感谢您注册[siteTitle]会员，请您点击以下按钮用以激活您的帐户。</p>
            <p>如果无法点击，请复制链接然后粘贴到浏览器后访问。</p>
            <p> </p>
            <p><a href="[url]">[url]</a></p>
        </div>

        <!-- 卡片的按钮 -->
        <div class="mdui-card-actions">
            <a href="[url]" class="mdui-btn mdui-ripple mdui-color-blue">点此激活</a>
        </div>

    </div>
</body>

</html>