<footer class="mdui-typo mdui-text-center" style="border-top: 1px solid #cfcfcf">
    <div>Powered by <a href="https://forum.mltree.top" target="_blank"> MlTree Forum</a>
        <br/>All Rights Reserved © MlTree Forum
        <br/>运行时间:{:get_runtime()}s
        <br/><a href="http://www.miitbeian.gov.cn" target="_blank">{$option.siteIcp}</a>
    </div>
</footer>
<script src="__JS__/mltree-function.js"></script>
<script>
    //返回顶部
    $("#fixbar-top").click(function () {
        console.log('OK');
        $('body,html').animate({ scrollTop: 0 }, 1000);
        return false;
    });
</script>