
<footer class="mlt-footer">
    <p>Powered by <a href="https://forum.mltree.top" target="_blank"> MlTree Forum</a> | All Rights Reserved © MlTree Forum | 运行时间:{:get_runtime()}s
    </p>
        <a class="mdui-float-right link" href="http://www.miitbeian.gov.cn" target="_blank">{$option.siteIcp}</a>
</footer>
<script src="__JS__/mltree-function.js"></script>
<script>
    //返回顶部
    $("#fixbar-top").click(function () {
        console.log('OK');
        $('body,html').animate({ scrollTop: 0 }, 1000);
        return false;
    });
</script>
