{include file="/../template@default/header" title="$option.siteTitle" Keywords="$option.siteKeywords" Des="$option.siteDes"}

<body class="mdui-theme-primary-blue mdui-theme-accent-blue mdui-appbar-with-toolbar">
    {if !empty(session('uid'))}
     {include file="/../template@default/topbar_user"}
    {else /}
     {include file="/../template@default/topbar"}
    {/if}
    <div class="mdui-container">
        <div class="mdui-row mdui-center">
            {block name="content"}{/block}
            
        </div>
    </div>
     
     {include file="/../template@default/footer"}

     {block name="js"}{/block}
</body>
    
</html>