{extend name="default/public/main"}
{block name="head"}
<link rel="stylesheet" href="__CSS__from.css">
{/block}
{block name="menu"}
{// 重置密码不需要应用栏}
{/block}
{block name="main"}
<form class="central-card mdui-shadow-2" method="POST">
    <div class="mdui-progress fix mdui-hidden" id="progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
    <header>
        <h1>找回你的密码</h1>
        <h2 id="helper-text">输入你的电子邮箱地址</h2>
    </header>
    <!--Very sorry I am mindless to name the ID.-->
    <main id="step-1" class="">
        <figure class="mdui-center">
            <img class="mdui-center" src="__IMG__/password-recovery-email-code.gif" />
        </figure>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">电子邮箱地址</label>
            <input class="mdui-textfield-input" name="email" type="email" required />
            <div class="mdui-textfield-error">电子邮箱地址是必须的</div>
        </div>
        <div><button id="next-step" class="mdui-btn mdui-float-right mdui-color-blue-accent mdui-ripple">发送验证码</button></div>
    </main>
    <main id="step-2" class="mdui-hidden">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">电子邮箱验证码</label>
            <input class="mdui-textfield-input" name="code" required />
            <div class="mdui-textfield-error">电子邮箱验证码是必须的</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">密码</label>
            <input class="mdui-textfield-input" type="password" name="password" required />
            <div class="mdui-textfield-error">密码是必须的</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">确认</label>
            <input class="mdui-textfield-input" type="password" name="repassword" required />
            <div class="mdui-textfield-error">确认是必须的</div>
        </div>
        <div>
            <button id="resend-email" type="button" class="mdui-btn mdui-text-color-blue-accent mdui-ripple">没有收到验证码？</button>
            <button type="submit" class="mdui-btn mdui-float-right mdui-color-blue-accent mdui-ripple">重置密码</button>
        </div>
    </main>
</form>
{/block}

{block name="js"}
<script src="__MTF__post.mtf.js"></script>
<script>
    var post = new mtfPost();
    post.getForgetCode('#getForgetCode');
    $$('form').on('submit', () => {
        var data = $$('form').serialize();
        post.ForgetPwd('{:url("forum/user/forgetPwd")}'); //I have no ideas to change this section of code.
        return false;
    })
    $$('.appbar-expanded-background').remove(); //恢复密码不需要双色背景
    $$('#next-step').on('click', function () {
        //UI response.
        $$('#progress').removeClass('mdui-hidden');
        $$(this).attr('disabled', 'disabled');
        //Check specified form.
        if (!$$('[name="email"]').val().trim().length)
            return;
        post.sendPasswordRecoveryCode($$('[name="email"]').val().trim(), function (xhr) {
            if (xhr.status !== 200) {
                //UI response.
                $$('#progress').removeClass('mdui-hidden');
                $$('#next-step').removeAttr('disabled');
                mdui.snackbar(
                    'Unknown error has occurred. Please check your Internet connection. Or contact developer to solve.'
                );
                return;
            }
            let response;
            try {
                response = JSON.parse(xhr.responseText);
            } catch (e) {
                $$('#progress').removeClass('mdui-hidden');
                $$('#next-step').removeAttr('disabled');
                mdui.snackbar('Error resolving response. Please contact developer to solve.');
                return;
            }
            if (response.code === 0) {
                $$('#step-1').addClass('mdui-hidden');
                $$('#step-2').removeClass('mdui-hidden');
            }
            $$('#progress').addClass('mdui-hidden');
            $$('#next-step').removeAttr('disabled');
            mdui.snackbar(response.msg);
        });
    });
    $$('#resend-email').on('click', function () {
        post.sendPasswordRecoveryCode(($$('[name="email"]').val().trim(), xhr => xhr.status === 200 ? mdui.snackbar(
            JSON.parse(xhr.responseText).msg) : mdui.snackbar(
            'Unknown error has occurred. Please check your Internet connection. Or contact developer to solve.'
        )));
    });
</script>
{/block}