{extend name="default/public/main"}
{block name="head"}
<link rel="stylesheet" href="__CSS__from.css">
{/block}
{block name="muen"}
{include file='default/public/topbar' /}{// 默认的topbar直接使用这一段即可}
{/block}
{block name="main"}
<div class="row mdui-color-deep-orange">
</div>
<div class="mdui-row">
    <div class="mdui-col-xs-10 mdui-col-md-4 mtf-login mdui-col-offset-xs-1 mdui-col-offset-md-4">
        <div class="mdui-card mdui-shadow-1">
            <div class="mdui-card-primary mdui-color-deep-orange-600">
                <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">lock</i> 找回密码</div>
                <div class="mdui-card-primary-subtitle">Forget</div>
            </div>

            <div class="mdui-card-content">
                <form action="" method="post" onsubmit=''>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Email</label>
                        <input class="mdui-textfield-input" name="email" type="email" required />
                        <div class="mdui-textfield-error">邮箱不能为空</div>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Email Code</label>
                        <input class="mdui-textfield-input" name="code" type="text" required />
                        <div class="mdui-textfield-error">验证码不能为空</div>
                        <button id="getForgetCode" type="button" class="mdui-btn mdui-color-theme-accent mdui-m-t-1 mdui-float-right">获取验证码</button>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label mdui-hidden mtf-newpwd-div">
                        <label class="mdui-textfield-label">New Password</label>
                        <input class="mdui-textfield-input" name="password" type="password" required />
                        <div class="mdui-textfield-error">新密码不能为空</div>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label mdui-hidden mtf-newpwd-div">
                        <label class="mdui-textfield-label">Confirm New Password</label>
                        <input class="mdui-textfield-input" name="repassword" type="password" required />
                        <div class="mdui-textfield-error">新密码不能为空</div>
                    </div>
                    <button class="mdui-btn mdui-color-amber mdui-btn-raised mdui-m-t-1 mdui-ripple" id="mtf-submit"
                        type="submit">重置</button>
                    <a class="mtf-btn mdui-text-color-amber" href="{:url('forum/User/Reg')}">创建一个账户</a>
                    <a class="mtf-btn mdui-text-color-amber" href="{:url('forum/User/Login')}">登录账号</a>
                    <a class="
                        mtf-btn mdui-text-color-amber" href="javascript:;" mdui-menu="{target: '#moreLogin',position:'top'}">社会登录</a>
                    <ul class="mdui-menu" id="moreLogin">
                        <li class="mdui-menu-item">
                            <a href="javascript:;" class="mdui-ripple">
                                <i class="mdui-menu-item-icon mdui-icon iconfont icon-qq"></i> QQ
                            </a>
                        </li>
                        <!-- <li class="mdui-menu-item">
                            <a href="javascript:;" class="mdui-ripple">
                                <i class="mdui-menu-item-icon mdui-icon iconfont icon-wecaht"></i> 微信
                            </a>
                        </li> -->
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="__JS__post.mtf.js"></script>
<script>
    $$('.mdui-toolbar').toggleClass('mdui-color-theme');
    $$('.mdui-toolbar').toggleClass('mdui-color-deep-orange');

    var post = new mtfPost();
    post.getForgetCode('#getForgetCode');
    $$('#mtf-submit').on('click', () => {
        var data = $$('form').serialize();
        post.ForgetPwd('{:url("forum/user/forgetPwd")}');
        return false;
    })
</script>
{/block}