{extend name="default/public/main"}
{block name="head"}
<link rel="stylesheet" href="__CSS__from.css">
{/block}
{block name="menu"}
{// 登录不需要appbar}
{/block}
{block name="main"}
<!--登录新版 By 学神之女-->
<form class="central-card mdui-shadow-2" method="POST">
    <header>
        <h1>登录</h1>
        <h2>使用你的{$site.siteTitle}账号</h2>
    </header>
    <main>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">电子邮箱地址</label>
            <input class="mdui-textfield-input" name="email" type="email" required />
            <div class="mdui-textfield-error">电子邮件是必须的，而且要合法</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">用户密码</label>
            <input class="mdui-textfield-input" name="password" type="password" required />
            <div class="mdui-textfield-error">密码是必须的</div>
        </div>
        <p><a href="{:url('forum/User/forgetPwd')}" target="_blank" class="a_link">忘记了密码？</a></p>
        <!--验证码我表示很无奈-->
        <section class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">验证码</label>
                <input class="mdui-textfield-input" name="captcha" required />
                <div class="mdui-textfield-error">验证码是必须的</div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-4">
                <img src="{:captcha_src()}" class="mdui-img-fluid" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
            </div>
        </section>
        <p class="mdui-typo">不是自己的计算机？请使用访客模式无痕登录。</p>
        <div>
            <a href="{:url('forum/User/Reg')}" class="mdui-btn mdui-text-color-blue-accent mdui-ripple">创建账号</a>
            <button id="mtf-submit" class="mdui-float-right mdui-btn mdui-color-blue-accent mdui-ripple" type="submit">登录</button>
        </div>
        <footer style="margin-top:10px;">
            <div class="mdui-subheader">社会化登录</div>
            <a href="{:url('forum/user/qqLogin')}" class="mdui-m-l-1"> <i class="mdui-icon iconfont icon-qq mdui-text-color-blue"></i></a>
        </footer>
    </main>
</form>
{/block}

{block name="js"}
<script src="__JS__post.mtf.js"></script>
<script>
    var post = new mtfPost();
    var main = new mtfMain();

    $$('#mtf-submit').on('click', () => {
        var data = $$('form').serialize();
        post.Login('{:url("forum/user/login")}');
        return false;
    });
    //登录不需要双色背景
    $$('.appbar-expanded-background').remove();
</script>
{/block}