{extend name="default/public/main"}
{block name="head"}
<link rel="stylesheet" href="__CSS__from.css">
{/block}
{block name="menu"}
{// 注册不需要appbar}
{/block}
{block name="main"}
<form class="central-card mdui-shadow-2" method="POST">
    <header>
        <h1>创建您的{$site.siteTitle}账号</h1>
    </header>
    <main>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">电子邮箱地址</label>
            <input class="mdui-textfield-input" type="email" name="email" required />
            <div class="mdui-textfield-error">电子邮箱是必须的，而且必须合法</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">用户名</label>
            <input class="mdui-textfield-input" type="text" name="username" required />
            <div class="mdui-textfield-error">用户名是必须的</div>
        </div>
        <section class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" name="password" required />
                <div class="mdui-textfield-error">密码是必须的</div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">确认</label>
                <input class="mdui-textfield-input" type="password" name="repassword" required />
                <!--这种不合理的命名我也很无奈-->
                <div class="mdui-textfield-error">确认是必须的</div>
            </div>
        </section>
        <p class="hints">密码想用啥就用啥，独特即安全</p>
        <p class="hints">但后台规定，密码必须在3位到30位之间</p>
        <section class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-8 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">验证码</label>
                <input class="mdui-textfield-input" name="captcha" required />
                <div class="mdui-textfield-error">验证码是必须的，我也很无奈啊╮(╯▽╰)╭</div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-4">
                <img src="{:captcha_src()}" class="mdui-img-fluid" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
            </div>
        </section>
        <div>
            <a href="{:url('forum/user/login')}" class="mdui-btn mdui-ripple mdui-text-color-blue-accent">登录现有账号</a>
            <button class="mdui-float-right mdui-btn mdui-color-blue-accent mdui-ripple" type="submit">完成注册</button>
        </div>
    </main>
    <aside>
        <div class="mdui-valign">
            <figure>
                <img src="__IMG__/register_introduction.svg" alt="一张SVG" width="244" height="244" />
                <figcaption>只需一个账号，您便可以使用{$site.siteTitle}的所有产品和服务。</figcaption>
            </figure>
        </div>
    </aside>
    <footer style="margin-top:10px;">
        <div class="mdui-subheader">社会化登录</div>
        <a href="{:url('forum/user/qqLogin')}" class="mdui-m-l-1"> <i class="mdui-icon iconfont icon-qq mdui-text-color-blue"></i></a>
    </footer>
</form>
{/block}

{block name="js"}
<script src="__JS__post.mtf.js"></script>
<script>
    $$('.mdui-toolbar').toggleClass('mdui-color-theme');
    $$('.mdui-toolbar').toggleClass('mdui-color-orange');

    var post = new mtfPost();

    $$('#mtf-submit').on('click', () => {
        var data = $$('form').serialize();
        post.Register('{:url("forum/user/reg")}');
        return false;
    })
    //注册不需要多色背景
    $$('.appbar-expanded-background').remove();
    $$('body').addClass('page-register'); //注册页面标识（没这个我写样式都麻烦）
</script>
{/block}