{extend name="public/main"}
{block name="head"}{/block}
{block name="muen"}
{include file='public/topbar' /}
{/block}
{block name="main"}
<div class="mdui-m-a-1 mdui-typo">
    <h1 class="mdui-m-l-3">模板设置
        <small>Theme</small>
    </h1>
    <div class="mdui-m-l-3">
        <div class="mdui-row">
            {volist name="templateList" id="vo"}
            <div class="mdui-col-xs-12 mdui-col-md-4 mdui-m-t-1">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="{$vo.info.Image}" />
                    </div>

                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{$vo.info.Name}</div>
                        <div class="mdui-card-primary-subtitle">{$vo.info.Sign}</div>
                    </div>

                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content">
                        <code>Version:{$vo.info.Version}</code>
                        <p>{$vo.info.Summary}</p>
                    </div>

                    <!-- 卡片的按钮 -->
                    <div class="mdui-card-actions">
                        {if $vo.start}
                        <button class="mdui-btn mdui-ripple" data-sign="{$vo.info.Sign}">已启用</button>
                        {else}
                        <button class="mdui-btn mdui-ripple mtf-theme-start" data-sign="{$vo.info.Sign}">启用</button>
                        {/if}
                        <button class="mdui-btn mdui-ripple mtf-open" data-url="{$vo.info.About}" data-target="_blank">详细信息</button>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>

{/block} {block name="js"}
<script>
    $$('.mtf-open').on('click', function () {
        var data = $$(this).data();
        window.open(data.url, data.target);
    });

    $$('#sys').addClass('mdui-collapse-item-open');
    $$('#baseTheme').addClass('mdui-list-item-active');

    $$('.mtf-theme-start').on('click', function () {
        let data = $$(this).data();
        $$.ajax({
            method: 'POST',
            url: '',
            data: {
                sign: data.sign,
            },
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    mdui.snackbar({
                        message: res.msg,
                        position: 'top',
                        onClosed: function () {
                            location.reload();
                        }
                    });
                } else {
                    mdui.snackbar({
                        message: res.msg,
                        position: 'top',
                        onClosed: function () {
                            location.reload();
                        }
                    });
                }
            },
        });
    });
</script> {/block}