<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跳转提示 - 页面正确</title>

    <meta name="description" content="本站是 MlTree Forum 论坛社区产品的官方交流站点。MlTree Forum是一款由Thinkphp构建、Material Design风格的轻论坛。">
    <meta name="keywords" content="MlTree Forum PHP 开源 轻论坛 轻社区 Material Design Thinkphp">
    <meta name="author" content="MlTree Group">

    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/common.mtf.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_921451_z1ctc9bc3j.css">
    <script src="/static/js/mdui.min.js"></script>

</head>

<body class="mdui-theme-primary-blue mdui-theme-accent-pink mdui-appbar-with-toolbar">
    <div id="app-content" class="mdui-container mdui-m-b-5 mdui-typo">
        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-md-8 mdui-col-offset-md-2">
                <div class="mdui-card mdui-m-a-1">
                    <div class="mdui-card-header-title">
                        <h3>页面跳转</h3>
                    </div>
                    <div class="mdui-card-content">
                        <h1>:)</h1>
                        <p>{$msg}</p>
                        <p>
                            页面自动 <a href="{$url}">跳转</a> 等待时间：<b id="wait">{$wait}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="mtf-footer mdui-m-t-5">
        <p>Powered by
            <a href="https://forum.kingsr.cc" target="_blank"> MlTree Forum</a> | All Rights Reserved © MlTree Forum
        </p>
    </footer>
    <script>
        (function () {
            var wait = document.getElementById('wait'),
                href = "{$url}";
            var interval = setInterval(function () {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>

</body>

</html>